@charset "utf-8";
/* CSS Document */

/*Website Background*/
/*Hide (comment) the unused html and body styles.*/
/*Use the following html and body styles if you wish to have a SOLID color background. */
/*html {
	border-top:30px solid #343434;
	}
body {
	background:#073570;
	margin-top:-30px;
	}*/

/*Use the following html and body styles if you wish to have a BACKGROUND IMAGE.*/
html {
	border-top:none;
	}
body {
	background:#073570 url(http://purchasing.idaho.gov/inc/img/background_sawtooth.jpg) no-repeat top center;
	margin-top:0;
	}

/*Link Colors*/
a:link, 
a:visited, 
a:hover, 
a:active {
	color:#039;
	}
a.externallink { 	
	background:url(http://purchasing.idaho.gov/inc/img/icon_externalsite_sawtooth.png) no-repeat right;
	padding: 0 20px 0 0;
	}
img.externallink { 	
	background:url(http://purchasing.idaho.gov/inc/img/icon_externalsite_sawtooth.png) no-repeat right;
	padding: 0 5px 0 0;
	}
/*Heading Colors*/
h1 {
	color:#6f6f6f;
	}
h2 {
	color:#054E3A;
	}
h3 {
	color:#444;
	}
h4 {
	color:#000;
	}

/*Underline Color*/
.underline {
	border-bottom:1px #6195ad dotted;
	}

/*Header Image - No need to change anything here. If you do make a customized header though, just be sure to save it as header.jpg, and place it in your images folder */
#header a {
	background:url(http://purchasing.idaho.gov/inc/img/header.jpg) no-repeat bottom left;
	}

/*Navigation Link Colors*/
ul#sidenav a {  
	background: #FFF url(http://purchasing.idaho.gov/inc/img/sideNav_sawtooth.jpg) repeat-y top right;
	}
ul#sidenav a:hover, 
ul#sidenav li:hover a,
ul#sidenav li.iehover a {
	color:#0066ff;
	}



/*columns*/
#oneCol {
	background:url(http://purchasing.idaho.gov/inc/img/mainContentGradient_sawtooth.jpg) repeat-x top left;
	}
#rightCol {
	background:url(http://purchasing.idaho.gov/inc/img/mainContentGradient_sawtooth.jpg) repeat-x top left;
	}
#centerCol {
	background:url(http://purchasing.idaho.gov/inc/img/mainContentGradient_sawtooth.jpg) repeat-x top left;
	}
	
	
/*Footer Text Color*/
#footer {
	background:url(http://purchasing.idaho.gov/inc/img/united_sawtooth.gif) no-repeat top left;
	color:#92c1ff;
	background-color: #073570;
	}


/*Footer Link Color*/
#footer a:link, 
#footer a:visited, 
#footer a:hover, 
#footer a:active {
	color:#92c1ff;
	}

/*Far Right Column h4 Background and Text Colors*/
#rightColMain h4, 
#rightColSub h4 {
	background:#898A7B;
	color:#fff;
	}
#rightCol3 {
	background: url(http://purchasing.idaho.gov/inc/img/subContentGradient_sawtooth.jpg) repeat-y top left;
	}

/*Promotion Section's (in the Upper Right Corner) h3 Color*/
#promote h3 {
	color:#273a66;
	}


/* NAVIGATION */
/* THE FOLLOWING CSS CAME FROM THE ACCESSIDAHO.ORG TEMPLATE .
IT DRIVES THE MENUING ON THEIR SITE */

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */
ul.MenuBarVertical {
	float:left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	cursor: pointer;
	width: 135px;
	}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive {
	z-index: 1000;
	}
ul.MenuBarVertical li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 135px;
	}
ul.MenuBarVertical ul,
ul.MenuBarVertical ul ul  {
	margin:-1px 0 0 90% ;/*change the margins to move the submenu*/
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: absolute;
	z-index: 1020;
	cursor:pointer;
	width: 135px;
	left: -1000em;
	top: 0;
	}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarVertical ul.MenuBarSubmenuVisible {
	left: 0;
	}
ul.MenuBarVertical ul li {
	width: 175px;
	position:relative;
	}
/*******************************************************************************
 DESIGN INFORMATION: describes color scheme, borders, fonts
 *******************************************************************************/
ul.MenuBarVertical, 
ul.MenuBarVertical a {
	border-right: 1px solid #ccc;
	background: url(http://purchasing.idaho.gov/inc/img/sideNav_sawtooth.jpg) repeat-y top right;
	height:1%;
	}
ul.MenuBarVertical a {
	display: block;
	cursor: pointer;
	border-bottom:1px solid #ccc;
	padding:10px 5px 10px 15px;
	text-decoration: none;
	}
/* HOVER COLOR*/
ul.MenuBarVertical a.MenuBarItemHover, 
ul.MenuBarVertical a.MenuBarItemSubmenuHover, 
ul.MenuBarVertical a.MenuBarSubmenuVisible {
	}
ul.MenuBarVertical #listNav a.MenuBarItemSubmenuHover {
	border-bottom:#999 solid 1px;
	background:url(http://purchasing.idaho.gov/inc/img/flyout_sawtooth.png) repeat-y top left;
	}
ul.MenuBarVertical #listNav a.MenuBarItemSubmenuHover:hover {
	border-bottom:#999 solid 1px;
	background:url(http://purchasing.idaho.gov/inc/img/hover_sawtooth.png) repeat-y top left;
	}
#topNav a {
	background:url(http://purchasing.idaho.gov/inc/img/topNav_sawtooth.jpg) no-repeat top right;
	}
#topNav ul li a {
	background:url(http://purchasing.idaho.gov/inc/img/flyout_sawtooth.png) repeat-y top left;
	}
ul.MenuBarVertical #topNav a.MenuBarItemSubmenuHover {
	background:url(http://purchasing.idaho.gov/inc/img/flyout_sawtooth.png) repeat-y top left;
	}
ul.MenuBarVertical #topNav a.MenuBarItemSubmenuHover:hover {
	background:url(http://purchasing.idaho.gov/inc/img/hover_sawtooth.png) repeat-y top left;
	}

/*******************************************************************************
 SUBMENU INDICATION: styles if there is a submenu under a given menu item
 *******************************************************************************/
ul.MenuBarVertical a span span {
	background: none;
	padding: 0;
	}
ul.MenuBarVertical a.MenuBarSubmenuVisible {
	}
ul.MenuBarVertical li ul a {
	border-right:1px solid #999;
	border-left:1px solid #999;
	background:url(http://purchasing.idaho.gov/inc/img/flyout_sawtooth.png) repeat-y top left;
	display: block;
	padding: 10px 0 10px 10px;
	position:relative;
	}
ul.MenuBarVertical li ul .first {
	border-top:1px solid #ccc;
	border-left:none;
	}
ul.MenuBarVertical li ul .last {
	border-bottom:1px solid #999;
	}
#leftNav a:hover {
	text-decoration:underline;
	color:#0066ff;
	background:#fff;
	background:url(http://purchasing.idaho.gov/inc/img/hover_sawtooth.png) repeat-y top left;
	}


	
/*
THESE DRIVE THE SAMPLE PAGE PROVIDED BY ACCESSIDAHO
*/		
/*Sawtooth Palette Color Style Classes*/
.palette_h2 {
	background:#054E3A ;
	color:#fff;
	}
.palette_bkg {
	background:#073570;
	color:#fff;
	}
.palette_links {
	background:#073570;
	color:#fff;
	}
.palette_h3 {
	background:#444;
	color:#fff;
	}
.palette_h4 {
	background:#000;
	color:#fff;
	}
.palette_rgrad {
	background:#898A7B;
	color:#fff;
	}
.palette_rbkg {
	background:#898A7B;
	color:#fff;
	}
.palette_topgrad {
	background:#d4d8e1;
	color:#666;
	}
.palette_sidehover {
	background:#d4d8e1;
	color:#666;
	}
.palette_navborder {
	background:#ccc;
	color:#666;
	}
.palette_linkhover {
	background:#F60;
	color:#fff;
	}
.sawtooth {
	border:#073570 1px solid;
	padding: 1px 2px;
	}
	
	
	
	
	
	
	
