img.floatright {
	float: right;
	padding: 4px;
}
.indent {
	padding-left: 15px;
}
.alert {
	font-weight: bold;
	color: #333;
	border: 1px red solid;
	padding: 0.5em;
	background-color: #FFC;
}
/* Table Divs */
#contact table, #contract table, #agycontact table {
	border: 1px solid #999;
	margin-bottom: 12px;
	width: 100%;
}
#agycontact table {
	width: 100%;
}
#contact th, #contract th, #agycontact th, #develop th {
	border: 1px solid #999;
	background-color: #666;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding: 2px;
}
#contact td, #contract td, #agycontact td, #develop td {
	border: 1px solid #CCC;
	padding: 2px 2px 2px 2px;
}
#agycontact table td h1, #develop table td h1 {
	margin: 0;
	padding-left: 2px;
	font-weight: bold;
	font-size: 1.1em;
}
#agycontact table td h2, #develop table td h2 {
	margin: 0;
	padding-left: 13px;
	font-size: 1em;
	font-weight: normal;
}
#agycontact table td h3, #develop table td h3 {
	margin: 0;
	padding: 4px 2px 2px 2px;
	font-weight: bold;
	font-size: 1em;
	display: block;
}
#training_sched table {
	border: 1px solid #E2E2E2;
}
#training_sched th {
	background-color: #D7E4BC;
	padding: 2px;
	text-align: left;
	font-weight: bold;
}
#training_sched th.title {
	background-color: #FFFF66;
}
#training_sched td {
	border: 1px solid #E2E2E2;
	padding: 2px;
}
/* Misc */	
span.edition {
	color: #000;
	font-size: 10px;
	font-weight: bold;
	background-color: #FFC;
	padding-left: 5px;
}
span.pdf {
	font-size: 10px;
	font-weight: bold;
	font-variant: small-caps;
}
#perfreport td {
	vertical-align: top;
	padding: 2px;
}
blockquote {
	margin-left: 20px;
	margin-right: 100px;
	color: #900;
}
.yellow-highlight {
	background-color: #FF9;
}
.burgundy {
	color: #900;
}
/*new search code*/
#search {
	margin: 0;
}
#search a {
	position: absolute;
	top: 6px;
	right: 24px;
	background: #fff url(/inc/img/magnify.gif) no-repeat 5% 50%;
	padding: 6px 0 5px 40px;
	width: 225px;
	height: 18px;
	display: block;
	text-decoration: none;
	color: #00C;
	font-weight: bold;
	border: 1px solid #b1caff;
}
#search a:hover {
	background: #e1ecff url(/inc/img/magnify.gif) no-repeat 5% 50%;
}
#promote h3 {
	margin-left: 20px;
}
#promote p {
	margin-left: 20px;
}
#centerCol div .alphagraph ul li {
	display: inline;
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	background: none;
	padding: 0 .47em 0 0;
}
