<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebProcure Suite">
<suite-files>
<!-- <suite-file path="Contract.xml"></suite-file>
 -->
   <suite-file path="Login.xml"></suite-file>
  <suite-file path="Solicitation.xml"></suite-file>
  <suite-file path="Invoice.xml"></suite-file>
 <suite-file path="Registration.xml"></suite-file>
</suite-files>
</suite> <!-- Suite -->
