<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebProcure Build Acceptance" parallel="classes" thread-count="5">
  <listeners>
    <listener class-name="utilities.common.TestRailListener" />
  </listeners>
  <test name="Test">
    <classes>
      <!-- Disabled until these tests can be cleaned up
      <class name="testcases.buyer.req.CreateRequestTest"/>
      <class name="testcases.buyer.req.ViewAllReqTest"/>
      <class name="testcases.buyer.order.ViewAllOrderTest"/>
      <class name="testcases.buyer.inv.InvoiceCreationTest"/>
      <class name="testcases.vendor.registration.WhiteLabelRegistrationTest" />
                   -->
      <class name="testcases.vendor.registration.StandardRegistrationTest" />
      <class name="testcases.buyer.reports.CreateReportTest"/>
      <class name="testcases.buyer.sol.SolicitationFlowTest"/>
      <class name="testcases.buyer.contract.ContractFlowTest"/>
      <class name="testcases.buyer.reports.ExecuteReportTest"/>
      <class name="testcases.buyer.req.ReqFlowTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- WebProcure Build Acceptance -->