<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebProcure Build Acceptance" parallel="classes" thread-count="1">
  <listeners>
    <listener class-name="utilities.common.TestRailListener" />
  </listeners>
  <test name="Build Acceptance">
    <classes>
      <!-- Disabled until these tests can be cleaned up
      <class name="acceptance.vendor.registration.WhiteLabelRegistrationTest" />

                   -->
      <class name="acceptance.vendor.registration.StandardRegistrationTest" />
      <class name="acceptance.vendor.registration.FormBuilderRegistrationTest"/>
      <class name="acceptance.buyer.reports.CreateReportTest"/>
      <class name="acceptance.buyer.sol.SolicitationFlowTest"/>
      <class name="acceptance.buyer.contract.ContractFlowTest"/>
      <class name="acceptance.buyer.reports.ExecuteReportTest"/>
      <class name="acceptance.buyer.req.ReqFlowTest"/>
      <class name="acceptance.buyer.admin.EnterpriseAdminTest"/>
    </classes>
  </test> <!-- WebProcure Build Acceptance -->
</suite>
