<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebProcure Build Acceptance">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.buyer.req.CreateRequestTest"/>
      <class name="testcases.buyer.req.ViewAllReqTest"/>
      <class name="testcases.bidboard.ContractBidboardTest"/>
      <class name="testcases.buyer.reports.ExecuteReportTest"/>
      <class name="testcases.buyer.reports.CreateReportTest"/>
      <class name="testcases.buyer.order.ViewAllOrderTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- WebProcure Build Acceptance -->
